.App {
  text-align: center;
  margin-top: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type="text"] {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #282c34;
  margin-top: 20px;
}

button:hover {
  background-color: #36a9e1;
}

.place-list {
  margin-top: 20px;
  text-align: left;
  color: #61dafb;
}

.place-item {
  background-color: #20232a;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
}

.place-item p {
  margin: 5px 0;
}
